<% dates = []%>
<% month_calendar do |date| %>
  <%= date.day %>
  <% dates.append(date)%>
<% end %>
<%= puts dates[0]%>


<div>
    <div class="grid grid-cols-7 gap-8 text-white font-bold pb-12">
      <div>Mon</div>
      <div>Tue</div>
      <div>Wed</div>
      <div>Thu</div>
      <div>Fri</div>
      <div>Sat</div>
      <div>Sun</div>
    </div>

    <div class="grid grid-cols-7 gap-8 text-white font-bold">
        <% dates.each do |date|%>
        <% day = date.day %>
        <div><%= day%></div>
      <%end%>
    </div>

</div>