<% dates = []%>
<% month_calendar do |date| %>
  <%= date.day %>
  <% dates.append(date)%>
<% end %>
<%= puts dates[0]%>


<div>
    <div class="grid grid-cols-7 font-bold">
      </*monday */>
      <div><svg width="94" height="72" viewBox="0 0 94 72" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g filter="url(#filter0_dd_785_5592)">
      <rect x="21.043" y="21" width="51.4634" height="29.3525" rx="14.6762" fill="#BDD6E2"/>
      </g>
      <path d="M28.5485 27.4545H30.6507L35.5939 39.5284H35.7644L40.7076 27.4545H42.8098V42H41.1621V30.9489H41.0201L36.4746 42H34.8837L30.3382 30.9489H30.1962V42H28.5485V27.4545ZM50.546 42.2273C49.5611 42.2273 48.697 41.9929 47.9537 41.5241C47.215 41.0554 46.6374 40.3996 46.2207 39.5568C45.8088 38.714 45.6028 37.7292 45.6028 36.6023C45.6028 35.4659 45.8088 34.474 46.2207 33.6264C46.6374 32.7789 47.215 32.1207 47.9537 31.652C48.697 31.1832 49.5611 30.9489 50.546 30.9489C51.5308 30.9489 52.3926 31.1832 53.1312 31.652C53.8746 32.1207 54.4522 32.7789 54.8642 33.6264C55.2808 34.474 55.4892 35.4659 55.4892 36.6023C55.4892 37.7292 55.2808 38.714 54.8642 39.5568C54.4522 40.3996 53.8746 41.0554 53.1312 41.5241C52.3926 41.9929 51.5308 42.2273 50.546 42.2273ZM50.546 40.7216C51.2941 40.7216 51.9096 40.5298 52.3926 40.1463C52.8755 39.7628 53.233 39.2585 53.465 38.6335C53.697 38.0085 53.813 37.3314 53.813 36.6023C53.813 35.8731 53.697 35.1937 53.465 34.5639C53.233 33.9342 52.8755 33.4252 52.3926 33.0369C51.9096 32.6487 51.2941 32.4545 50.546 32.4545C49.7979 32.4545 49.1824 32.6487 48.6994 33.0369C48.2164 33.4252 47.859 33.9342 47.627 34.5639C47.3949 35.1937 47.2789 35.8731 47.2789 36.6023C47.2789 37.3314 47.3949 38.0085 47.627 38.6335C47.859 39.2585 48.2164 39.7628 48.6994 40.1463C49.1824 40.5298 49.7979 40.7216 50.546 40.7216ZM59.7239 35.4375V42H58.0478V31.0909H59.6671V32.7955H59.8091C60.0648 32.2415 60.4531 31.7964 60.9739 31.4602C61.4947 31.1193 62.1671 30.9489 62.9909 30.9489C63.7296 30.9489 64.3759 31.1004 64.9299 31.4034C65.4838 31.7017 65.9147 32.1562 66.2225 32.767C66.5302 33.3731 66.6841 34.1402 66.6841 35.0682V42H65.008V35.1818C65.008 34.3248 64.7855 33.6572 64.3404 33.179C63.8953 32.696 63.2845 32.4545 62.508 32.4545C61.973 32.4545 61.4947 32.5705 61.0733 32.8026C60.6567 33.0346 60.3276 33.3731 60.0861 33.8182C59.8446 34.2633 59.7239 34.803 59.7239 35.4375Z" fill="#061FA5" fill-opacity="0.76"/>
      <defs>
      <filter id="filter0_dd_785_5592" x="0.0429688" y="0" width="93.4629" height="71.3525" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dx="4" dy="4"/>
      <feGaussianBlur stdDeviation="8.5"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_785_5592"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
      <feOffset dx="-4" dy="-4"/>
      <feGaussianBlur stdDeviation="8.5"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
      <feBlend mode="normal" in2="effect1_dropShadow_785_5592" result="effect2_dropShadow_785_5592"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_785_5592" result="shape"/>
      </filter>
      </defs>
      </svg>
    </div>

            </*Tuesday */>
    <div><svg width="94" height="72" viewBox="0 0 94 72" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_dd_785_5592)">
        <rect x="21.043" y="21" width="51.4634" height="29.3525" rx="14.6762" fill="#BDD6E2"/>
        </g>
        <path d="M31.1612 29.017V27.4545H42.0703V29.017H37.4964V42H35.7351V29.017H31.1612ZM49.9521 37.5398V31.0909H51.6282V42H49.9521V40.1534H49.8384C49.5827 40.7074 49.185 41.1785 48.6452 41.5668C48.1055 41.9503 47.4237 42.142 46.5998 42.142C45.918 42.142 45.3119 41.9929 44.7816 41.6946C44.2513 41.3916 43.8346 40.937 43.5316 40.331C43.2286 39.7202 43.0771 38.9508 43.0771 38.0227V31.0909H44.7532V37.9091C44.7532 38.7045 44.9757 39.339 45.4208 39.8125C45.8706 40.286 46.4435 40.5227 47.1396 40.5227C47.5562 40.5227 47.98 40.4162 48.4109 40.2031C48.8465 39.9901 49.2111 39.6634 49.5046 39.223C49.8029 38.7827 49.9521 38.2216 49.9521 37.5398ZM59.272 42.2273C58.2209 42.2273 57.3142 41.9953 56.5518 41.5312C55.7943 41.0625 55.2095 40.4091 54.7976 39.571C54.3904 38.7282 54.1868 37.7481 54.1868 36.6307C54.1868 35.5133 54.3904 34.5284 54.7976 33.6761C55.2095 32.8191 55.7824 32.1515 56.5163 31.6733C57.255 31.1903 58.1167 30.9489 59.1016 30.9489C59.6697 30.9489 60.2308 31.0436 60.7848 31.233C61.3388 31.4223 61.843 31.7301 62.2976 32.1562C62.7521 32.5777 63.1143 33.1364 63.3842 33.8324C63.6541 34.5284 63.7891 35.3854 63.7891 36.4034V37.1136H55.38V35.6648H62.0845C62.0845 35.0492 61.9614 34.5 61.7152 34.017C61.4737 33.5341 61.1281 33.1529 60.6783 32.8736C60.2332 32.5942 59.7076 32.4545 59.1016 32.4545C58.4339 32.4545 57.8563 32.6203 57.3686 32.9517C56.8857 33.2784 56.514 33.7045 56.2536 34.2301C55.9931 34.7557 55.8629 35.3191 55.8629 35.9205V36.8864C55.8629 37.7102 56.005 38.4086 56.2891 38.9815C56.5779 39.5497 56.978 39.983 57.4893 40.2812C58.0007 40.5748 58.5949 40.7216 59.272 40.7216C59.7124 40.7216 60.1101 40.66 60.4652 40.5369C60.825 40.4091 61.1352 40.2197 61.3956 39.9688C61.656 39.7131 61.8572 39.3958 61.9993 39.017L63.6186 39.4716C63.4482 40.0208 63.1617 40.5038 62.7592 40.9205C62.3568 41.3324 61.8596 41.6544 61.2678 41.8864C60.6759 42.1136 60.0107 42.2273 59.272 42.2273Z" fill="#061FA5" fill-opacity="0.76"/>
        <defs>
        <filter id="filter0_dd_785_5592" x="0.0429688" y="0" width="93.4629" height="71.3525" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="4" dy="4"/>
        <feGaussianBlur stdDeviation="8.5"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_785_5592"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-4" dy="-4"/>
        <feGaussianBlur stdDeviation="8.5"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
        <feBlend mode="normal" in2="effect1_dropShadow_785_5592" result="effect2_dropShadow_785_5592"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_785_5592" result="shape"/>
        </filter>
        </defs>
        </svg>
      </div>


        </*Wednesday */>
        <div><svg width="94" height="72" viewBox="0 0 94 72" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_dd_785_5592)">
          <rect x="21.043" y="21" width="51.4634" height="29.3525" rx="14.6762" fill="#BDD6E2"/>
          </g>
          <path d="M30.8878 42L26.9105 27.4545H28.7003L31.7401 39.3011H31.8821L34.9787 27.4545H36.9673L40.0639 39.3011H40.206L43.2457 27.4545H45.0355L41.0582 42H39.2401L36.0298 30.4091H35.9162L32.706 42H30.8878ZM50.5611 42.2273C49.5099 42.2273 48.6032 41.9953 47.8409 41.5312C47.0833 41.0625 46.4986 40.4091 46.0866 39.571C45.6795 38.7282 45.4759 37.7481 45.4759 36.6307C45.4759 35.5133 45.6795 34.5284 46.0866 33.6761C46.4986 32.8191 47.0715 32.1515 47.8054 31.6733C48.544 31.1903 49.4058 30.9489 50.3906 30.9489C50.9588 30.9489 51.5199 31.0436 52.0739 31.233C52.6278 31.4223 53.1321 31.7301 53.5866 32.1562C54.0412 32.5777 54.4034 33.1364 54.6733 33.8324C54.9432 34.5284 55.0781 35.3854 55.0781 36.4034V37.1136H46.669V35.6648H53.3736C53.3736 35.0492 53.2505 34.5 53.0043 34.017C52.7628 33.5341 52.4171 33.1529 51.9673 32.8736C51.5223 32.5942 50.9967 32.4545 50.3906 32.4545C49.723 32.4545 49.1454 32.6203 48.6577 32.9517C48.1747 33.2784 47.803 33.7045 47.5426 34.2301C47.2822 34.7557 47.152 35.3191 47.152 35.9205V36.8864C47.152 37.7102 47.294 38.4086 47.5781 38.9815C47.867 39.5497 48.267 39.983 48.7784 40.2812C49.2898 40.5748 49.884 40.7216 50.5611 40.7216C51.0014 40.7216 51.3991 40.66 51.7543 40.5369C52.1141 40.4091 52.4242 40.2197 52.6847 39.9688C52.9451 39.7131 53.1463 39.3958 53.2884 39.017L54.9077 39.4716C54.7372 40.0208 54.4508 40.5038 54.0483 40.9205C53.6458 41.3324 53.1487 41.6544 52.5568 41.8864C51.965 42.1136 51.2997 42.2273 50.5611 42.2273ZM61.7472 42.2273C60.8381 42.2273 60.0355 41.9976 59.3395 41.5384C58.6435 41.0743 58.099 40.4209 57.706 39.5781C57.313 38.7306 57.1165 37.7292 57.1165 36.5739C57.1165 35.428 57.313 34.4337 57.706 33.5909C58.099 32.7481 58.6458 32.0971 59.3466 31.6378C60.0473 31.1785 60.857 30.9489 61.7756 30.9489C62.4858 30.9489 63.0469 31.0672 63.4588 31.304C63.8755 31.536 64.1927 31.8011 64.4105 32.0994C64.633 32.393 64.8059 32.6345 64.929 32.8239H65.071V27.4545H66.7472V42H65.1278V40.3239H64.929C64.8059 40.5227 64.6307 40.7737 64.4034 41.0767C64.1761 41.375 63.8518 41.6425 63.4304 41.8793C63.009 42.1113 62.4479 42.2273 61.7472 42.2273ZM61.9744 40.7216C62.6468 40.7216 63.215 40.5464 63.679 40.196C64.143 39.8409 64.4957 39.3509 64.7372 38.7259C64.9787 38.0961 65.0994 37.3693 65.0994 36.5455C65.0994 35.7311 64.9811 35.0185 64.7443 34.4077C64.5076 33.7921 64.1572 33.3139 63.6932 32.973C63.2292 32.6274 62.6563 32.4545 61.9744 32.4545C61.2642 32.4545 60.6723 32.6368 60.1989 33.0014C59.7301 33.3613 59.3774 33.8513 59.1406 34.4716C58.9086 35.0871 58.7926 35.7784 58.7926 36.5455C58.7926 37.322 58.911 38.0275 59.1477 38.6619C59.3892 39.2917 59.7443 39.7936 60.2131 40.1676C60.6866 40.5369 61.2737 40.7216 61.9744 40.7216Z" fill="#061FA5" fill-opacity="0.76"/>
          <defs>
          <filter id="filter0_dd_785_5592" x="0.0429688" y="0" width="93.4629" height="71.3525" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
          <feFlood flood-opacity="0" result="BackgroundImageFix"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dx="4" dy="4"/>
          <feGaussianBlur stdDeviation="8.5"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
          <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_785_5592"/>
          <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
          <feOffset dx="-4" dy="-4"/>
          <feGaussianBlur stdDeviation="8.5"/>
          <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
          <feBlend mode="normal" in2="effect1_dropShadow_785_5592" result="effect2_dropShadow_785_5592"/>
          <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_785_5592" result="shape"/>
          </filter>
          </defs>
          </svg>

        </div>


        </* Thursday*/>
              <div><svg width="94" height="72" viewBox="0 0 94 72" fill="none" xmlns="http://www.w3.org/2000/svg">
  <g filter="url(#filter0_dd_785_5592)">
  <rect x="21.043" y="21" width="51.4634" height="29.3525" rx="14.6762" fill="#BDD6E2"/>
  </g>
  <path d="M30.3311 29.017V27.4545H41.2402V29.017H36.6664V42H34.905V29.017H30.3311ZM45.4075 35.4375V42H43.7314V27.4545H45.4075V32.7955H45.5495C45.8052 32.232 46.1887 31.7846 46.7001 31.4531C47.2162 31.117 47.9028 30.9489 48.7598 30.9489C49.5031 30.9489 50.1542 31.098 50.7129 31.3963C51.2716 31.6899 51.7048 32.142 52.0126 32.7528C52.3251 33.3589 52.4814 34.1307 52.4814 35.0682V42H50.8052V35.1818C50.8052 34.3153 50.5803 33.6454 50.1305 33.1719C49.6854 32.6937 49.0675 32.4545 48.2768 32.4545C47.7276 32.4545 47.2351 32.5705 46.7995 32.8026C46.3687 33.0346 46.0278 33.3731 45.7768 33.8182C45.5306 34.2633 45.4075 34.803 45.4075 35.4375ZM62.4228 37.5398V31.0909H64.0989V42H62.4228V40.1534H62.3091C62.0534 40.7074 61.6557 41.1785 61.1159 41.5668C60.5762 41.9503 59.8944 42.142 59.0705 42.142C58.3887 42.142 57.7826 41.9929 57.2523 41.6946C56.722 41.3916 56.3053 40.937 56.0023 40.331C55.6993 39.7202 55.5478 38.9508 55.5478 38.0227V31.0909H57.2239V37.9091C57.2239 38.7045 57.4464 39.339 57.8915 39.8125C58.3413 40.286 58.9142 40.5227 59.6103 40.5227C60.0269 40.5227 60.4507 40.4162 60.8816 40.2031C61.3172 39.9901 61.6818 39.6634 61.9753 39.223C62.2736 38.7827 62.4228 38.2216 62.4228 37.5398Z" fill="#061FA5" fill-opacity="0.76"/>
  <defs>
  <filter id="filter0_dd_785_5592" x="0.0429688" y="0" width="93.4629" height="71.3525" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
  <feFlood flood-opacity="0" result="BackgroundImageFix"/>
  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
  <feOffset dx="4" dy="4"/>
  <feGaussianBlur stdDeviation="8.5"/>
  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_785_5592"/>
  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
  <feOffset dx="-4" dy="-4"/>
  <feGaussianBlur stdDeviation="8.5"/>
  <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
  <feBlend mode="normal" in2="effect1_dropShadow_785_5592" result="effect2_dropShadow_785_5592"/>
  <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_785_5592" result="shape"/>
  </filter>
  </defs>
  </svg>
      </div>

      </* Friday*/>
  <div><svg width="94" height="72" viewBox="0 0 94 72" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g filter="url(#filter0_dd_785_5593)">
    <rect x="21.043" y="21" width="51.4634" height="29.3525" rx="14.6762" fill="#BDD6E2"/>
    </g>
    <path d="M37.3571 42V27.4545H46.0787V29.017H39.1184V33.9318H45.4252V35.4943H39.1184V42H37.3571ZM48.7509 42V31.0909H50.3702V32.7386H50.4838C50.6827 32.1989 51.0426 31.7609 51.5634 31.4247C52.0842 31.0885 52.6713 30.9205 53.3248 30.9205C53.4479 30.9205 53.6017 30.9228 53.7864 30.9276C53.9711 30.9323 54.1107 30.9394 54.2054 30.9489V32.6534C54.1486 32.6392 54.0184 32.6179 53.8148 32.5895C53.6159 32.5563 53.4052 32.5398 53.1827 32.5398C52.6524 32.5398 52.1789 32.651 51.7623 32.8736C51.3503 33.0914 51.0236 33.3944 50.7821 33.7827C50.5454 34.1662 50.427 34.6042 50.427 35.0966V42H48.7509ZM56.1923 42V31.0909H57.8684V42H56.1923ZM57.0446 29.2727C56.7179 29.2727 56.4361 29.1615 56.1994 28.9389C55.9674 28.7164 55.8514 28.4489 55.8514 28.1364C55.8514 27.8239 55.9674 27.5563 56.1994 27.3338C56.4361 27.1113 56.7179 27 57.0446 27C57.3713 27 57.6506 27.1113 57.8826 27.3338C58.1194 27.5563 58.2377 27.8239 58.2377 28.1364C58.2377 28.4489 58.1194 28.7164 57.8826 28.9389C57.6506 29.1615 57.3713 29.2727 57.0446 29.2727Z" fill="#061FA5" fill-opacity="0.76"/>
    <defs>
    <filter id="filter0_dd_785_5593" x="0.0429688" y="0" width="93.4629" height="71.3525" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dx="4" dy="4"/>
    <feGaussianBlur stdDeviation="8.5"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_785_5593"/>
    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
    <feOffset dx="-4" dy="-4"/>
    <feGaussianBlur stdDeviation="8.5"/>
    <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
    <feBlend mode="normal" in2="effect1_dropShadow_785_5593" result="effect2_dropShadow_785_5593"/>
    <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_785_5593" result="shape"/>
    </filter>
    </defs>
    </svg>
  </div>

      </*saturday*/>
      <div><svg width="94" height="72" viewBox="0 0 94 72" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_dd_785_5592)">
        <rect x="21.043" y="21" width="51.4634" height="29.3525" rx="14.6762" fill="#BDD6E2"/>
        </g>
        <path d="M41.5714 31.0909C41.4862 30.3712 41.1405 29.8125 40.5344 29.4148C39.9284 29.017 39.185 28.8182 38.3043 28.8182C37.6604 28.8182 37.0969 28.9223 36.614 29.1307C36.1358 29.339 35.7617 29.6255 35.4918 29.9901C35.2267 30.3546 35.0941 30.7689 35.0941 31.233C35.0941 31.6212 35.1864 31.955 35.3711 32.2344C35.5605 32.509 35.802 32.7386 36.0955 32.9233C36.3891 33.1032 36.6969 33.2524 37.0188 33.3707C37.3408 33.4844 37.6367 33.5767 37.9066 33.6477L39.3839 34.0455C39.7627 34.1449 40.1841 34.2822 40.6481 34.4574C41.1168 34.6326 41.5643 34.8717 41.9904 35.1747C42.4213 35.473 42.7764 35.8565 43.0558 36.3253C43.3351 36.794 43.4748 37.3693 43.4748 38.0511C43.4748 38.8371 43.2688 39.5473 42.8569 40.1818C42.4497 40.8163 41.8531 41.3205 41.0671 41.6946C40.2859 42.0687 39.3365 42.2557 38.2191 42.2557C37.1774 42.2557 36.2754 42.0876 35.5131 41.7514C34.7556 41.4152 34.159 40.9465 33.7234 40.3452C33.2925 39.7438 33.0487 39.0455 32.9918 38.25H34.81C34.8574 38.7992 35.042 39.2538 35.364 39.6136C35.6907 39.9687 36.1026 40.2339 36.5998 40.4091C37.1017 40.5795 37.6415 40.6648 38.2191 40.6648C38.8915 40.6648 39.4951 40.5559 40.0302 40.3381C40.5652 40.1155 40.989 39.8078 41.3015 39.4148C41.614 39.017 41.7702 38.553 41.7702 38.0227C41.7702 37.5398 41.6353 37.1468 41.3654 36.8438C41.0955 36.5407 40.7404 36.2945 40.3001 36.1051C39.8597 35.9157 39.3839 35.75 38.8725 35.608L37.0827 35.0966C35.9464 34.7699 35.0468 34.3035 34.3839 33.6974C33.721 33.0914 33.3896 32.2983 33.3896 31.3182C33.3896 30.5038 33.6097 29.7936 34.0501 29.1875C34.4951 28.5767 35.0917 28.1032 35.8398 27.767C36.5927 27.4261 37.4331 27.2557 38.3612 27.2557C39.2987 27.2557 40.132 27.4238 40.8612 27.7599C41.5903 28.0914 42.168 28.5459 42.5941 29.1236C43.025 29.7012 43.2522 30.357 43.2759 31.0909H41.5714ZM49.3537 42.2557C48.6624 42.2557 48.035 42.1255 47.4716 41.8651C46.9081 41.5999 46.4607 41.2188 46.1293 40.7216C45.7978 40.2197 45.6321 39.6136 45.6321 38.9034C45.6321 38.2784 45.7552 37.7718 46.0014 37.3835C46.2476 36.9905 46.5767 36.6828 46.9886 36.4602C47.4006 36.2377 47.8551 36.072 48.3523 35.9631C48.8542 35.8494 49.3584 35.7595 49.8651 35.6932C50.5279 35.608 51.0653 35.544 51.4773 35.5014C51.8939 35.4541 52.197 35.3759 52.3864 35.267C52.5805 35.1581 52.6776 34.9687 52.6776 34.6989V34.642C52.6776 33.9413 52.4858 33.3968 52.1023 33.0085C51.7235 32.6203 51.1482 32.4261 50.3764 32.4261C49.5762 32.4261 48.9489 32.6013 48.4943 32.9517C48.0398 33.3021 47.7202 33.6761 47.5355 34.0739L45.9446 33.5057C46.2287 32.8428 46.6075 32.3267 47.081 31.9574C47.5592 31.5833 48.08 31.3229 48.6435 31.1761C49.2116 31.0246 49.7704 30.9489 50.3196 30.9489C50.67 30.9489 51.0724 30.9915 51.527 31.0767C51.9863 31.1572 52.429 31.3253 52.8551 31.581C53.286 31.8366 53.6435 32.2225 53.9276 32.7386C54.2116 33.2547 54.3537 33.946 54.3537 34.8125V42H52.6776V40.5227H52.5923C52.4787 40.7595 52.2893 41.0128 52.0241 41.2827C51.759 41.5526 51.4063 41.7822 50.9659 41.9716C50.5256 42.161 49.9882 42.2557 49.3537 42.2557ZM49.6094 40.75C50.2723 40.75 50.831 40.6198 51.2855 40.3594C51.7448 40.099 52.0904 39.7628 52.3224 39.3509C52.5592 38.9389 52.6776 38.5057 52.6776 38.0511V36.517C52.6065 36.6023 52.4503 36.6804 52.2088 36.7514C51.9721 36.8177 51.6974 36.8769 51.3849 36.929C51.0772 36.9763 50.7765 37.0189 50.483 37.0568C50.1941 37.09 49.9598 37.1184 49.7798 37.142C49.3442 37.1989 48.937 37.2912 48.5582 37.419C48.1842 37.5421 47.8812 37.7292 47.6491 37.9801C47.4219 38.2263 47.3082 38.5625 47.3082 38.9886C47.3082 39.571 47.5237 40.0114 47.9545 40.3097C48.3902 40.6032 48.9418 40.75 49.6094 40.75ZM62.1573 31.0909V32.5114H56.5039V31.0909H62.1573ZM58.1516 28.4773H59.8278V38.875C59.8278 39.3485 59.8964 39.7036 60.0337 39.9403C60.1758 40.1723 60.3557 40.3286 60.5735 40.4091C60.796 40.4848 61.0304 40.5227 61.2766 40.5227C61.4613 40.5227 61.6128 40.5133 61.7312 40.4943C61.8496 40.4706 61.9442 40.4517 62.0153 40.4375L62.3562 41.9432C62.2425 41.9858 62.0839 42.0284 61.8803 42.071C61.6767 42.1184 61.4187 42.142 61.1062 42.142C60.6327 42.142 60.1687 42.0402 59.7141 41.8366C59.2643 41.633 58.8903 41.3229 58.592 40.9062C58.2984 40.4896 58.1516 39.964 58.1516 39.3295V28.4773Z" fill="#061FA5" fill-opacity="0.76"/>
        <defs>
        <filter id="filter0_dd_785_5592" x="0.0429688" y="0" width="93.4629" height="71.3525" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="4" dy="4"/>
        <feGaussianBlur stdDeviation="8.5"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_785_5592"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feOffset dx="-4" dy="-4"/>
        <feGaussianBlur stdDeviation="8.5"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
        <feBlend mode="normal" in2="effect1_dropShadow_785_5592" result="effect2_dropShadow_785_5592"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_785_5592" result="shape"/>
        </filter>
        </defs>
        </svg>
      </div>

      <div>
          <svg width="94" height="72" viewBox="0 0 94 72" fill="none" xmlns="http://www.w3.org/2000/svg">
<g filter="url(#filter0_dd_785_5592)">
<rect x="21.043" y="21" width="51.4634" height="29.3525" rx="14.6762" fill="#BDD6E2"/>
</g>
<path d="M39.1788 31.0909C39.0936 30.3712 38.7479 29.8125 38.1419 29.4148C37.5358 29.017 36.7924 28.8182 35.9118 28.8182C35.2678 28.8182 34.7044 28.9223 34.2214 29.1307C33.7432 29.339 33.3691 29.6255 33.0993 29.9901C32.8341 30.3546 32.7015 30.7689 32.7015 31.233C32.7015 31.6212 32.7939 31.955 32.9785 32.2344C33.1679 32.509 33.4094 32.7386 33.7029 32.9233C33.9965 33.1032 34.3043 33.2524 34.6262 33.3707C34.9482 33.4844 35.2441 33.5767 35.514 33.6477L36.9913 34.0455C37.3701 34.1449 37.7915 34.2822 38.2555 34.4574C38.7243 34.6326 39.1717 34.8717 39.5978 35.1747C40.0287 35.473 40.3838 35.8565 40.6632 36.3253C40.9425 36.794 41.0822 37.3693 41.0822 38.0511C41.0822 38.8371 40.8762 39.5473 40.4643 40.1818C40.0571 40.8163 39.4605 41.3205 38.6745 41.6946C37.8933 42.0687 36.944 42.2557 35.8265 42.2557C34.7849 42.2557 33.8829 42.0876 33.1206 41.7514C32.363 41.4152 31.7664 40.9465 31.3308 40.3452C30.8999 39.7438 30.6561 39.0455 30.5993 38.25H32.4174C32.4648 38.7992 32.6494 39.2538 32.9714 39.6136C33.2981 39.9687 33.71 40.2339 34.2072 40.4091C34.7091 40.5795 35.2489 40.6648 35.8265 40.6648C36.4989 40.6648 37.1026 40.5559 37.6376 40.3381C38.1726 40.1155 38.5964 39.8078 38.9089 39.4148C39.2214 39.017 39.3777 38.553 39.3777 38.0227C39.3777 37.5398 39.2427 37.1468 38.9728 36.8438C38.7029 36.5407 38.3478 36.2945 37.9075 36.1051C37.4672 35.9157 36.9913 35.75 36.4799 35.608L34.6902 35.0966C33.5538 34.7699 32.6542 34.3035 31.9913 33.6974C31.3284 33.0914 30.997 32.2983 30.997 31.3182C30.997 30.5038 31.2172 29.7936 31.6575 29.1875C32.1026 28.5767 32.6992 28.1032 33.4473 27.767C34.2001 27.4261 35.0405 27.2557 35.9686 27.2557C36.9061 27.2557 37.7394 27.4238 38.4686 27.7599C39.1977 28.0914 39.7754 28.5459 40.2015 29.1236C40.6324 29.7012 40.8597 30.357 40.8833 31.0909H39.1788ZM50.6259 37.5398V31.0909H52.302V42H50.6259V40.1534H50.5123C50.2566 40.7074 49.8588 41.1785 49.3191 41.5668C48.7793 41.9503 48.0975 42.142 47.2736 42.142C46.5918 42.142 45.9857 41.9929 45.4554 41.6946C44.9251 41.3916 44.5085 40.937 44.2054 40.331C43.9024 39.7202 43.7509 38.9508 43.7509 38.0227V31.0909H45.427V37.9091C45.427 38.7045 45.6496 39.339 46.0946 39.8125C46.5444 40.286 47.1174 40.5227 47.8134 40.5227C48.2301 40.5227 48.6538 40.4162 49.0847 40.2031C49.5203 39.9901 49.8849 39.6634 50.1784 39.223C50.4767 38.7827 50.6259 38.2216 50.6259 37.5398ZM57.0481 35.4375V42H55.372V31.0909H56.9913V32.7955H57.1333C57.389 32.2415 57.7773 31.7964 58.2981 31.4602C58.819 31.1193 59.4913 30.9489 60.3152 30.9489C61.0538 30.9489 61.7001 31.1004 62.2541 31.4034C62.8081 31.7017 63.2389 32.1562 63.5467 32.767C63.8545 33.3731 64.0083 34.1402 64.0083 35.0682V42H62.3322V35.1818C62.3322 34.3248 62.1097 33.6572 61.6646 33.179C61.2195 32.696 60.6087 32.4545 59.8322 32.4545C59.2972 32.4545 58.819 32.5705 58.3975 32.8026C57.9809 33.0346 57.6518 33.3731 57.4103 33.8182C57.1689 34.2633 57.0481 34.803 57.0481 35.4375Z" fill="#061FA5" fill-opacity="0.76"/>
<defs>
<filter id="filter0_dd_785_5592" x="0.0429688" y="0" width="93.4629" height="71.3525" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
<feFlood flood-opacity="0" result="BackgroundImageFix"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dx="4" dy="4"/>
<feGaussianBlur stdDeviation="8.5"/>
<feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
<feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_785_5592"/>
<feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
<feOffset dx="-4" dy="-4"/>
<feGaussianBlur stdDeviation="8.5"/>
<feColorMatrix type="matrix" values="0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0 0.916667 0 0 0 0.08 0"/>
<feBlend mode="normal" in2="effect1_dropShadow_785_5592" result="effect2_dropShadow_785_5592"/>
<feBlend mode="normal" in="SourceGraphic" in2="effect2_dropShadow_785_5592" result="shape"/>
</filter>
</defs>
</svg>

      </div>
  </div>

    <div class="grid grid-cols-7 gap-8 font-bold">
        <% dates.each do |date|%>
        <% day = date.day %>
        <div class="pl-6"><%= day%></div>
      <%end%>
    </div>

</div>