<div class="container">
  <div class="carousel">
    <div class="carousel__face"><span>I love how you came into my life and made it a paradise. I love you, my Queen</span></div>
    <div class="carousel__face"><span>I love the fact you are my Queen</span></div>
    <div class="carousel__face"><span>I love how I can rely on you, knowing you will always keep to your promises</span></div>
    <div class="carousel__face"><span>There is nothing I want more than to make you the happiest woman in the world</span></div>
    <div class="carousel__face"><span>I love how you are excited about my success</span></div>
    <div class="carousel__face"><span>Each day with you is a wonderful addition to my life's journey. I can't wait to be yours forever</span></div>
    <div class="carousel__face"><span>I love how we make a great team and tackle life's challenges together</span></div>
    <div class="carousel__face"><span>A million kisses to the most amazing Queen I know</span></div>
    <div class="carousel__face"><span class="date">November<br> 2017</span></div>
  </div>
</div>